# Frameworks
fastapi[all]

# Seguridad y autenticación
passlib
bcrypt
pyjwt
python-jose

# Utilidades
python-dotenv
email-validator
requests
werkzeug

# Base de datos
sqlalchemy
mysql-connector-python
aiomysql
pymongo

# Caché
fastapi-cache2
redis

# Ciencia de datos
pandas
numpy

# Validación y tipos
pydantic
starlette